apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana-operator
spec:
  timeout: 15m
  chart:
    spec:
      chart: grafana-operator
      sourceRef:
        kind: HelmRepository
        name: grafana
      version: 5.21.4
  interval: 24h
  releaseName: grafana-monitoring
  install:
    crds: Create
  upgrade:
    crds: CreateReplace