apiVersion: v1
kind: Service
metadata:
  name: knowledge-hub-service
  labels:
    app: knowledge-hub
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 3000
      protocol: TCP
      name: http
  selector:
    app: knowledge-hub
