apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana-alloy
spec:
  timeout: 15m
  chart:
    spec:
      chart: k8s-monitoring
      sourceRef:
        kind: HelmRepository
        name: grafana
      version: 3.2.2
  interval: 24h
  releaseName: grafana-monitoring
  install:
    crds: Create
  upgrade:
    crds: CreateReplace
  values:
  # https://github.com/grafana/k8s-monitoring-helm/blob/main/charts/k8s-monitoring/values.yaml
    cluster:
      name:  ""
    clusterEvents:
      enabled: true
      labelsToKeep: ["level","namespace","node","source"]
    clusterMetrics:
      enabled: false
      kube-state-metrics:
        enabled: false
      cadvisor:
        enabled: false
      kubelet:
        enabled: false
      node-exporter:
        enabled: true
      controlPlane:
        enabled: false
      kepler:
        enabled: true
      windows-expoter:
        enabled: false
      opencost:
        enabled: false
    alloy-logs:
      enabled: true
      enableReporting: false
      alloy:
        extraEnv:
          - name: CLUSTER_NAME
            value: ""
          - name: NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
          - name: POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: NODE_NAME
            valueFrom:
              fieldRef:
                fieldPath: spec.nodeName
    alloy-singleton:
      enabled: true
      enableReporting: false
      alloy:
        extraEnv:
          - name: CLUSTER_NAME
            value: ""
          - name: NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
          - name: POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
    alloy-metrics:
      enabled: false
    alloy-receiver:
      enabled: false
    nodeLogs:
      enabled: true
      labelsToKeep: ["instance","level","name","unit","service_name","source"]
      journal:
        units:
          - kubelet.service
          - containerd.service
    destinations:
      - name: loki-grafana-cloud
        type: loki
        url: http://loki-monolith.observability.svc:3100/loki/api/v1/push
    podLogs:
      enabled: true
      staticLabels:
        source: "pods"
      extraDiscoveryRules: |-
          rule {
            target_label = "log_source"
            replacement = "kim7s"
          }
          rule {
            source_labels = ["__meta_kubernetes_pod_controller_name"]
            regex         = "([0-9a-z-.]+?)(-[0-9a-f]{8,10})?"
            target_label  = "__tmp_controller_name"
          }
          rule {
            source_labels = ["__meta_kubernetes_pod_label_app_kubernetes_io_name", "__meta_kubernetes_pod_label_app", "__tmp_controller_name", "__meta_kubernetes_pod_name"]
            regex         = "^;*([^;]+)(;.*)?$"
            target_label  = "app"
          }
          rule {
            source_labels = ["__meta_kubernetes_pod_label_app_kubernetes_io_instance", "__meta_kubernetes_pod_label_instance"]
            regex         = "^;*([^;]+)(;.*)?$"
            target_label  = "instance"
          }
          rule {
            source_labels = ["__meta_kubernetes_pod_node_name"]
            target_label  = "node_name"
          }
          rule {
            source_labels = ["__meta_kubernetes_pod_container_image"]
            target_label  = "image"
          }
      labelsToKeep:
      - app
      - cluster
      - container
      - flags
      - image
      - log_source
      - namespace
      - node_name
      - pod
      - stream
      - instance
      - source
    selfReporting:
      enabled: true             
    applicationObservability:
      enabled: false
    global:
      scrapeInterval: 5m