apiVersion: v1
kind: Service
metadata:
  name: http-echo
spec:
  ports:
    - name: http
      port: 8080
      protocol: TCP
      targetPort: http
  selector:
    app.kubernetes.io/instance: http-echo
  type: ClusterIP